{% extends "base.html" %}

{% block content %}
    <h1>Данные для создания пароля</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="/generatess" method="post" novalidate>
        <p>{{ form.length_Specsimbol.label }}<br>
            <input type = "number" min="0" name = "Количество спецсимволов" required/>
        </p>
        <p>{{ form.length_Bigletters.label }}<br>
            <input type = "number" min="0" name = "Количество больших букв" required/>
        </p>
        <p>{{ form.length_Litletters.label }}<br>
            <input type = "number" min="0" name = "Количество маленьких букв" required/>
        </p>
        <p>{{ form.length_Number.label }}<br>
            <input type = "number" min="0" name = "Количество чисел" required/>
        </p>
        <p>{{ form.button() }}</p>
    </form>
{% endblock %}